body {
  padding-top: 3.8rem;
}

#map {
  height: 90vh;
  padding: 0;
  margin: 0;
}

/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 300px;
  background-color: #2B3252;
  position: fixed;
  height: 90vh;
  overflow: auto;
  color: white
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 0;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 300px;
  height: 90vh;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.navbar-custom{
  background-color: #EF5455;
}

#selectDrop {

    opacity: 0.8;

    width: auto;
    height: auto;
    padding: 5px;
    display: block;
    z-index: 9000;

}

#selectDrop input {
    width: 200px;
}

#sportFilter {

    opacity: 0.8;

    width: auto;
    height: auto;
    padding: 5px;
    display: block;
    z-index: 9000;
    width: 150px;
}

#sidebarButtons{
  padding:20px
}

#leagueFilter {

    opacity: 0.8;

    width: auto;
    height: auto;
    padding: 5px;
    display: block;
    z-index: 9000;
    width: 150px;
}

#sportFilterbox{
  padding: 10px;
}

#leagueFilterbox{
  padding:10px;
}

#clearFilters2{
  margin:5px;
}

#submit{
  margin:5px;
}

#date{
  margin:10px;
  width: auto;
}




a:link {
  color:#FAD744;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #EF5455;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

/*Legend specific*/
.legend {
  padding: 6px 8px;
  font: 14px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
  /*border-radius: 5px;*/
  line-height: 24px;
  color: #555;
}
.legend h4 {
  text-align: center;
  font-size: 16px;
  margin: 2px 12px 8px;
  color: #777;
}

.legend span {
  position: relative;
  bottom: 3px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin: 0 8px 0 0;
  opacity: 0.7;
}

.legend i.icon {
  background-size: 18px;
  background-color: rgba(255, 255, 255, 1);
}

.legend i.dot {
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  border-color: #FFF

}
